
<!DOCTYPE html>
<html>
<head>
<title>Weather App</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content=" Weather Report template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- //web font -->
<!-- js -->   
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/skycons.js"></script> <!-- skycons-icons --> 	
<!-- //js -->  
</head>
<body>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
</script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
	(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//vdo.ai/core/w3layouts/vdo.ai.js");
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125810435-1');
</script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-30027142-1', 'w3layouts.com');
  ga('send', 'pageview');
</script>
<body>
	<!-- w3ls-weather -->
	<div class="w3ls-weather">
		<h1>Weather Report</h1>
		<div class="w3ls-weather-agileinfo"> 
			<div class="weather-left">
				<div class="weather-left-text">
					<h4>     <% if(city_name!== null){ %>
                        <p><%= city_name %></p>
                      <% } %></h4>
                      <fieldset>
                        <form action="/user" method="get">
                          <!-- <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required> -->
                          <input type="submit" class=" center" value="Get Weather">
                       
                        <% if(weather !== null){ %>
                          <p><%= weather %></p>
                        <% } %>
                
                        <% if(error !== null){ %>
                          <p><%= error %></p>
                        <% } %>
                    </form>
                      </fieldset>

                     
				</div>
				<ul class="report">
					<li> </li>
					<li></li>
				</ul>
			</div>
			<div class="weather-right">
				<ul>
					<li>
						<figure class="icons">
							<canvas id="partly-cloudy-day" width="60" height="60"></canvas>
						</figure>
						<h3><%=temperature%></h3>
						<div class="clear"></div>
					</li>
				</ul>
				<script>
					 var icons = new Skycons({"color": "#fff"}),
						  list  = [
							"partly-cloudy-day"
						  ],
						  i;

					  for(i = list.length; i--; )
						icons.set(list[i], list[i]);
					  icons.play();
				</script>
				<script>
					 var icons = new Skycons({"color": "#fff"}),
						  list  = [
							"clear-night","partly-cloudy-night", "cloudy", "clear-day", "sleet", "snow", "wind","fog"
						  ],
						  i;

					  for(i = list.length; i--; )
						icons.set(list[i], list[i]);
					  icons.play();
				</script>
			</div>
			<div class="clear"></div>
		</div>  
	</div>	
	<!-- //w3ls-weather --> 
	<!-- copyright -->
	<div class="copyw3-agile">
		<p> © 2018 Weather Report . All rights reserved | Design by <a href="career1495@gmail.com" target="_blank">Ganesh Apune</a></p>
	</div>
	<!-- //copyright -->
</body>
</html>