<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/user.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
     
    <div class="container">
      <div id="login-box">
        <div class="left">
        <form action="/" method="post">
          <input name="country" type="text" placeholder="Enter a Country" required><br>
          <input name="state" type="text" class="ghost-input" placeholder="Enter a State" required>
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Submit">
        </form>
        </div>
      </div>
    </div>
</body>
</html>
